.images {
  display: flex;

    vertical-align: middle;

  }

.corn {

  color: #434952;
  font-weight:bold;

}

.radio {

  color: #384554;

}

label {
  cursor: default;

}

.images{

  float:right;
}
.green-background{
  background-color: green;
}
.red-background{
  background-color: red;
}
.orange-background{
  background-color: orange;
}
